In [1]:
# Import Libraries 

import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import balanced_accuracy_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
import pickle

In [2]:
# Loand and read the CSV file
df = pd.read_csv('Dataset/loan_sanction_train.csv')
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [3]:
# Cleanup the  dataset and convert categorical columns to numeric columns 

clean_df = df.drop(columns=["Loan_ID"])
clean_df = pd.get_dummies(clean_df, columns=["Gender","Married","Dependents","Education","Self_Employed","Property_Area"])
clean_df = clean_df.dropna()

In [4]:
# label x and y

y = clean_df["Loan_Status"].values
X = clean_df.drop(columns=["Loan_Status"]).values

In [5]:
# Split data

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

In [6]:
# Create scaler
X_scaler = StandardScaler()
X_scaler.fit(X_train)

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [7]:
# Create a random forest classifier
rf_model = RandomForestClassifier(n_estimators=500, random_state=78)

In [8]:
# Fitting the model
model = rf_model.fit(X_train_scaled, y_train)

In [9]:
# Making predictions using the testing data
predictions = rf_model.predict(X_test_scaled)

In [10]:
# Calculating the confusion matrix
cm = confusion_matrix(y_test, predictions)
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"]
)

# Calculating the accuracy score
acc_score = accuracy_score(y_test, predictions)

In [11]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0           20           21
Actual 1            3           89

Accuracy Score : 0.8195488721804511
Classification Report
              precision    recall  f1-score   support

           N       0.87      0.49      0.62        41
           Y       0.81      0.97      0.88        92

    accuracy                           0.82       133
   macro avg       0.84      0.73      0.75       133
weighted avg       0.83      0.82      0.80       133

In [12]:
import pickle

with open("scaler.pkl", "wb") as f:
    pickle.dump(X_scaler,f)

with open("model.pkl", "wb") as f:
    pickle.dump(model,f)